body {
    background-color: ivory;
}

.greetings {
    display: flex;
    width:480px;
    padding: 0 20px 0 40px;
    border-radius: 30px;
    border-bottom-left-radius: 0px;
    margin: 50px 390px 50px ;
    text-align: center;
    background-color: #A43931;
    font-size: 15px;
}

#here {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.answer {
    display: flex;
    width:500px;
    padding: 0 20px 0 40px;
    border-radius: 30px;
    border-bottom-right-radius: 0px;
    margin: 0px 0px 50px 555px;
    text-align: center;
    font-size: 15px;
    background-color: #1D4350;
    
}
.formAndList{
    display:flex;
    flex-direction: column;
    
    align-items: center;
    width:45%;
    height:350px;
    border:solid 3px black;
}
.classForm {
    margin-top: 20px;
    
}
.className, .classAddress {
    background-color:rgba(0,0,0,0);
    border:none;
    border-bottom: black solid 2px ;
    padding-bottom: 5px;
}
.classAddress {
    margin:0 10px;
}
.className::placeholder, .classAddress::placeholder {
    color:black;
}
.classForm button {
    background-color: rgba(0,0,0,0);
    border:none;
    font-size: 20px;
    color: black;
}
.classList {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.classList li{
    width:300px;
    margin:5px;
    list-style-type: none;
    display:flex;
    
    justify-content: space-between;
}
.classList a {
    text-decoration: none;
    color:black;
}
.classList button {
    background-color: rgba(0,0,0,0);
    border: solid 2px black;
    border-radius: 10%;
    font-size: 15px;
    margin-left: 50px;
}